.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  padding: 25;
  padding-bottom: 0;
  font-family: cursive;
}

.bio {
  font-family: monospace;
  padding: 25;
  width: 80vw;
  height: 50vh;
  max-width: 500;
  max-height: 500;
  border: none;
}
