.imageContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 25px;
  margin-bottom: 10px;
  font-family: cursive;
  font-size: 2em;
}

.description {
  margin: 25px;
  margin-top: 0px;
  font-family: "Courier New", Courier, monospace;
}
