.imageContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font: 600 2em Arial;
  position: fixed;
  top: 0;
  left: 0;
  margin: 25px;
}

.description {
  font-family: monospace;
}
