.sticky {
  position: sticky;
  top: 0;
  left: 0;
}

.imageContainer {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: sticky;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font: 600 2em Arial;
  margin-bottom: 12px;
}

.series {
  font: 600 1em Arial;
  margin-bottom: 12px;
}

.series:hover {
  text-decoration: underline;
  cursor: pointer;
}

.date {
  font: 400 1em Arial;
  margin-bottom: 25px;
}

.description {
  font: monospace;
  width: 60vw;
  height: 40vh;
  max-width: 600px;
  max-height: 400px;
  border: none;
  text-align: justify;
}
