.container {
  height: 150vh;
  max-height: 150vh;
  width: 100vw;
  max-width: 100vw;
}

.imageContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: "row";
}

.title {
  font: 600 2em Arial;
  margin: 25px;
}

.description {
  font: 400 1em monospace;
  margin: 25px;
  overflow: auto;
  max-width: 650px;
}
