.shelf {
  width: auto;
  border-bottom: 1px solid black;
  background-color: white;
  height: 400px;
  padding: 25px;
}

.imageWrapper {
  display: inline-block;
  margin-right: 25px;
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  right: 16px;
}
