.container {
  text-align: center;
  background-color: white;
  z-index: 1;
  padding: 25px;
  right: 0;
  bottom: 0;
  position: fixed;
}

.logo {
  height: 100;
  width: 100;
  margin-right: 0;
  margin-left: "auto";
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  z-index: 1;
  display: inline-block;
  margin-left: 4px;
}
