.container {
  right: 0;
  z-index: 1;
  margin: 25px;
  position: fixed;
  text-align: right;
}

.logo {
  height: 100;
  width: 100;
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  z-index: 1;
  display: inline-block;
  margin-left: 4px;
}
