.container {
  top: 0;
  right: 0;
  z-index: 1;
  margin: 25px;
  position: fixed;
  text-align: right;
}

.logo {
  position: fixed;
  height: 99px;
  width: 66px;
  margin: 25px;
  z-index: 1;
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  z-index: 1;
  display: inline-block;
  margin-left: 4px;
}
