.parallax {
  display: grid;
  grid-template: repeat(50, 2%) / repeat(50, 2%);
  justify-items: center;
  align-items: center;
}

.container {
  width: auto;
  height: auto;
  /* background-color: blue; */
}
