.parallax {
  display: grid;
  grid-template: repeat(50, 2%) / repeat(50, 2%);
  justify-items: center;
  align-items: center;
  height: 250vh;
  width: 100vw;
}

.container {
  width: auto;
  height: auto;
}
